header {
  position: fixed;
  background-color: #242f40;
  height: 4em;
  top: 0;
  width: 100%;
  
}
.white-text {
  color: aliceblue;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr 6fr;
}


nav > ul {
  display: flex;
  align-items: center;
  justify-content: end;

}
nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  padding: 0 0.5em;
}
